.projectCard {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin-bottom: 20px;
  align-items: center;
}

.picture {
  width: 50%;
  height: 250px;
  object-fit: fill;
  border-radius: 20px;
  margin: 16px;
  border-radius: 20px;
}

.description {
  width: 50%;
  padding: 16px;
}

.description h1 {
  font-size: 2em;
  line-height: normal;
  margin: 0;
  display: inline;
}

.description > a > svg {
  display: inline;
  margin-left: 12px;
  vertical-align: top;
}

.links {
  display: flex;
  flex-direction: row;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badges img {
  border-radius: 16px;
}

.paginationContainer li {
  list-style-type: none;
}