.profileCard {
    position: fixed;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    height: 70vh;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.picture{
    border: 1px solid black;
    border-radius: 30px;
    height: 250px;
    width: 250px;
}

.title{
    text-align: center;
}

.icons{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}