.workContainer {
  align-items: start;
  margin-left: 100px;
  width: fit-content;
  min-height: 100vh;
  padding: 40px 0;
}

.timelineContent {
  width: 600px;
}

.timelineContent {
  view-timeline-name: --revealTimeline;
  animation-timeline: --revealTimeline;
  view-timeline-axis: block;

  animation-name: appear;
  animation-duration: auto;
  animation-fill-mode: both;
  animation-range: entry 0% cover 50%; /* when top hits 0% to when middle hits 50% */
}

ul {
  list-style-type: circle;
  margin-left: 16px;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(100%); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}
